* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}
button{
    cursor: pointer;
}

.nav-bar {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .right-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ;
}

.nav-bar .avatar {
    width: 1.5rem;
    margin-left: 1.5rem;
}

.logo {
    margin-right: auto;
    margin-left: 1rem;
}

nav{
    position: absolute;
    top:0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    transition: left .3s, background-color .3s .1s;
    z-index: 10;
    
}
nav.visible {
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}
nav .nav-inner-wrapper {
    width: 70%;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
    height: 100%;
    padding-left: 1.5rem;
}

nav a {
    text-decoration: none;
    display: inline-block;
}

nav a:visited {
    color: #222;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(70vw, 300px);
}
.close-nav{
    background:transparent;
    border: none;
    margin-bottom: 3rem;
}
.open-nav{
    border: none;
    background: transparent;
}
.product-carousel{
    display: flex;
    position: relative;
    min-height: 100vw;
}
.product-image{
    height: 100%;
    width: 0;
    object-fit: cover;
    position: absolute;
    transition: all .5s;
    right: -100%;
}
.product-image.current{
    width: 100%;
    right: 0;
}
.controls-wrapper{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    height: 4rem;
}
.switch-image{
    background: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    display: grid;
    place-content: center;
}
.switch-image:disabled{
    opacity: .4;
}
.product-image.viewed{
    /* left: -100%; */
    right: 100%;
}
.product-description{
    padding: 1.5rem;
}
.brand{
    color: hsl(26, 100%, 55%);
    /* color: hsl(25, 100%, 94%); */
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .1rem;
}
.product-description h1{
    font-size: 1.8rem;
}
.product-description p{
    line-height: 1.6rem;
    color: hsl(219, 9%, 45%);
}
.pricing{
    padding-top: 1rem;
}
.pricing-details{
    display:flex;
    width: 100%;
    align-items: center;
}
.price{
    margin-right: 6%;
    font-weight: bold;
    font-size: 1.8rem;
}
.discount{
    margin-right: auto;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%); 
    font-weight: bold;
    font-size: .8rem;
    padding: .3em .6em;
    border-radius: .3rem;
}
.original-price{
    color: hsl(220, 14%, 75%);
    font-weight: bold;
    text-decoration: line-through;
}
.quantity-selector{
    display: flex;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    padding: .8rem;
    border-radius: .5rem;
}
.quantity-button{
    border: 0;
    background: transparent;
    height: 2rem;
    width: 2rem;
    display: grid;
    place-content: center;
}
[name='quantity']{
    border: 0;
    text-align: center;
    background: transparent;
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    width: 40%;
    
}
.btn-add-to-cart{
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px hsl(25, 100%, 94%);
    
}
.btn-add-to-cart:hover{
    box-shadow: 5px 5px 2px hsl(25, 100%, 94%);
}
.btn-add-to-cart img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(309deg) brightness(114%) contrast(101%);;
}
.cart-container{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: flex-start;
}
.cart-container.visible{

    display: flex;
}

.cart-icon-wrapper{
    position: relative;
}
.cart-icon-quantity-tag{
    position: absolute;
    color: white;
    background-color: hsl(26, 100%, 55%);
    font-size: .5rem;
    right: -5px;
    top: -5px;
    padding: .1rem .4rem;
    border-radius: .5rem;
}
.cart{
    width: min(500px,95%);
    border-radius: 1rem;
    margin: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-title{
    padding: 1rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    font-size: 1rem;
    width: 100%;
}.cart-items{
    width: 100%;
}
.cart-item{
    display: flex;
    width: 100%;
}
.cart-items-list{
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
}
.cart-item-thumbnail{
    height: 3rem;
    border-radius: .2rem;
    width: auto;
    margin-right: .1rem;
}
.cart-item-name-group{
    margin: 0 .5rem ;
    color: hsl(219, 9%, 45%);
}
.cart-item-name{
    display: inline-block;
    margin-bottom: .3rem;
}
.cart-item-total{
    font-weight: bold;
    color: black;
}
.cart-checkout{
    padding: 1rem;
    width: 100%;
}
.cart-remove-item{
    background-color: transparent;
    border: none;
    margin-left: auto;
}
.btn-checkout{
    font-weight: bold;
    color: white;
    background-color: hsl(26, 100%, 55%);
    border: 0;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}