* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
}

button {
    cursor: pointer;
}
.nav-bar {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .right-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ;
}

.nav-bar .avatar {
    width: 2rem;
    margin-left: 1.5rem;
}
.nav-bar .avatar:hover{
    outline: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

.logo {
    margin-right: auto;
    margin-left: 1rem;
}

nav {
    position: absolute;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    transition: left .3s, background-color .3s .1s;
    z-index: 10;

}

nav.visible {
    left: 0;
    background-color: rgba(0, 0, 0, .2);
}

nav .nav-inner-wrapper {
    width: 70%;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
    height: 100%;
    padding-left: 1.5rem;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: #222;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(70vw, 300px);
}

.close-nav {
    background: transparent;
    border: none;
    margin-bottom: 3rem;
}

.open-nav {
    border: none;
    background: transparent;
}

.product-carousel {
    display: flex;
    position: relative;
    height: 100vw;
    max-height: 700px;
    overflow: hidden;
}

.carousel-images-wrapper {
    min-height: 550px;
}

.product-image {
    height: auto;
    width: 80%;
    object-fit: cover;
    position: absolute;
    transition: all .8s;
    right: -100%;
}

.product-image.current {
    width: 100%;
    right: 0;
}

.controls-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    height: 4rem;
}

.switch-image {
    background: white;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    display: grid;
    place-content: center;
}

.switch-image:disabled {
    opacity: .4;
}

.product-image.viewed {
    /* left: -100%; */
    right: 100%;
}

.product-description {
    padding: 1.5rem;
}

.brand {
    color: hsl(26, 100%, 55%);
    /* color: hsl(25, 100%, 94%); */
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .1rem;
}

.product-description h1 {
    font-size: 1.8rem;
}

.product-description p {
    line-height: 1.6rem;
    color: hsl(219, 9%, 45%);
}

.pricing {
    padding-top: 1rem;
}

.pricing-details {
    display: flex;
    width: 100%;
    align-items: center;
}

.price {
    margin-right: 6%;
    font-weight: bold;
    font-size: 1.8rem;
}

.discount {
    margin-right: auto;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    font-weight: bold;
    font-size: .8rem;
    padding: .3em .6em;
    border-radius: .3rem;
}

.original-price {
    color: hsl(220, 14%, 75%);
    font-weight: bold;
    text-decoration: line-through;
}

.quantity-selector {
    display: flex;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    padding: .8rem;
    border-radius: .5rem;
}

.quantity-button {
    border: 0;
    background: transparent;
    height: 2rem;
    width: 2rem;
    display: grid;
    place-content: center;
}

[name='quantity'] {
    border: 0;
    text-align: center;
    background: transparent;
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    width: 40%;

}

.btn-add-to-cart {
    width: 100%;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px hsl(25, 100%, 94%);

}

.btn-add-to-cart:hover {
    box-shadow: 5px 5px 2px hsl(25, 100%, 94%);
}

.btn-add-to-cart img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(309deg) brightness(114%) contrast(101%);
    ;
}

.cart-container {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: flex-start;
}

.cart-container.visible {

    display: flex;
}

.cart-icon-wrapper {
    position: relative;
    cursor: pointer;
}

.cart-icon-quantity-tag {
    position: absolute;
    color: white;
    background-color: hsl(26, 100%, 55%);
    font-size: .5rem;
    right: -5px;
    top: -5px;
    padding: .1rem .4rem;
    border-radius: .5rem;
}

.cart {
    width: min(500px, 95%);
    border-radius: 1rem;
    margin: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
}

.cart-title {
    padding: 1rem;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    font-size: 1rem;
    width: 100%;
}

.cart-items {
    width: 100%;
}

.cart-item {
    display: flex;
    width: 100%;
}

.cart-items-list {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
}

.cart-item-thumbnail {
    height: 3rem;
    border-radius: .2rem;
    width: auto;
    margin-right: .1rem;
}

.cart-item-name-group {
    margin: 0 .5rem;
    color: hsl(219, 9%, 45%);
}

.cart-item-name {
    display: inline-block;
    margin-bottom: .3rem;
}

.cart-item-total {
    font-weight: bold;
    color: black;
}

.cart-checkout {
    padding: 1rem;
    width: 100%;
}

.cart-remove-item {
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.btn-checkout {
    font-weight: bold;
    color: white;
    background-color: hsl(26, 100%, 55%);
    border: 0;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

.btn-add-to-cart:hover,
.quantity-button:hover {
    opacity: .6;
}

.empty-cart-message {
    text-align: center;
    margin-top: 80px;
    color: hsl(219, 9%, 45%);
}

@media(min-width:700px) {

    .close-nav {
        display: none;
    }

    #main-nav {
        position: static;
    }

    nav ul {
        flex-direction: row;
        width: fit-content;
    }

    nav .nav-inner-wrapper {
        height: fit-content;
        width: fit-content;
        font-size: 1rem;
        font-weight: 400;
        color: hsl(219, 9%, 45%);
        padding: 0;
    }

    nav {
        height: fit-content;
        width: fit-content;
        margin-right: auto;
        z-index: 0;
    }

    .product-image.current {
        position: relative;
        border-radius: 2rem;
    }

    .main-carousel .current {
        cursor: pointer;
    }
    .open-nav{
        display: none;
    }
    .nav-bar {
        padding-block: 0;
        border-bottom: 1px solid hsl(220, 14%, 75%);
    }

    .logo {
        margin-right: 2rem;
    }

    .nav-link {
        padding-block: 3rem;
    }

    .nav-link:hover {
        padding-bottom: calc(3rem - 4px);
        border-bottom: 4px solid hsl(26, 100%, 55%);
    }

    .image-thumbnails {
        z-index: 15;
        display: flex;
        position: static;
        margin-top: 1rem;
        margin-bottom: 1rem;
        bottom: 0;
        left: 0;
        ;
        gap: 5%;
        justify-content: space-around;
    }

    .product-thumbnail {
        max-width: 20%;
        border-radius: 1rem;
        cursor: pointer;
    }

    .product-thumbnail.current {
        outline: 4px solid hsl(26, 100%, 55%);
        opacity: .7;
    }

    .product-thumbnail:hover {
        opacity: .7;
    }

    main {
        min-height: 50vh;
        margin-top: max(10vh, 5rem);
        /* margin-top: 2rem; */
        display: flex;
        padding-inline: 1.5rem;
    }

    .product-carousel {
        width: 50%;
        overflow: hidden;
        height: auto;
        flex-direction: column;
        /* min-height: 50vh; */
    }

    .product-description {
        width: 50%;
    }

    .quantity-controls-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .btn-add-to-cart {
        font-size: 1rem;
        margin-top: 0;
        padding: .7rem;
    }

    .quantity-selector {
        padding: .5rem;
    }

    [name="quantity"] {
        font-size: 1rem;
    }

    .pricing-details {
        flex-wrap: wrap;
    }

    .discount {
        margin-right: calc(100% - 12rem);
    }

    .lightbox-carousel {
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, .8);
        /* z-index: -1; */
        visibility: hidden;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .lightbox-carousel.visible {
        display: block;
        z-index: 20;
        visibility: visible;
    }

    .lightbox-carousel .product-carousel {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        min-height: 80vh;
        max-width: 600px;
        padding: 2rem;
    }

    .lightbox-carousel .controls-wrapper {
        bottom: auto;
        margin-top: 50%;
        margin-inline: 0rem;
    }

    .close-lightbox {
        background: transparent;
        border: 0;
        display: inline-block;
        margin-left: auto;
        margin-bottom: 1rem;
        transform: scale(1.5);
    }

    .close-lightbox img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(309deg) brightness(114%) contrast(101%);
        ;
    }
}